openapi: 3.0.0
info:
  title: Secureframe API
  description: |
    ## Introduction

    [Secureframe](https://secureframe.com/) exposes a REST API for use by customers, partners, and community developers.

    The Secureframe API utilizes [resource-oriented endpoints](https://cloud.google.com/apis/design/resources) and returns requests in the form of standard JSON responses, based on the [JSON API spec](https://jsonapi.org/). Search utilizes [Lucene Syntax](https://lucene.apache.org/core/2_9_4/queryparsersyntax.html).

    API URL (latest version): https://api.secureframe.com

    New to Secureframe?\
    Customers: [Start here](https://secureframe.com/request-demo)\
    Partners: [Start here](https://secureframe.com/contact/partner)

    ## Authentication

    Secureframe utilizes API keys to authenticate requests. API keys are assigned on a per company <> user basis. API secrets can only be viewed a single time at key creation. Please securely store your secrets and do not share your keys in a public medium. If you forget your secret, you must generate a new API key.

    To view, create, and revoke API keys, navigate to the Secureframe Console -> Your Profile -> Company settings -> API keys. This page is protected by RBAC and only accessible by certain roles.
    To authenticate with an API Key and Secret, include the header `'Authorization: <YOUR_API_KEY> <YOUR_KEY_SECRET>'` in your request.

    ```
    --header 'Authorization: <YOUR_API_KEY> <YOUR_SECRET_KEY>'
    ```

    Requests made via HTTP will be redirected to HTTPS.

    ## Authorization

    Secureframe utilizes role-based access control (RBAC) to determine which requests are authorized based on the assigned company <> user.

    As an example, let’s say a user is assigned to a custom role called “Risk Manager”, and that role does not have permission to view Tests. If a request is made to a Tests endpoint with an API Key <> Secret pair assigned to that user, the request will fail.

    To determine the permissions of each role, navigate to the Secureframe Console -> Personnel -> Personnel settings -> Roles and click into the applicable role.

    ## Creating a Request

    Reference the below template in `cURL` for creating a request with parameters:

    ```bash
    curl --location -g --request GET \
         --header 'Authorization: <YOUR_API_KEY> <YOUR_SECRET_KEY>' \
         'https://api.secureframe.com/<ENDPOINT>?include[<PARAM>]=<VALUE>
    ```

    Note: Our API does not directly support bulk updates - only one object can be updated per request. That said, you can utilize loops to mimic bulk operations.

    ## Request History

    API requests, just like console-based requests, are tracked in the Audit Log (note: API vs Console requests are not differentiated visually).

    To access the Audit Log, navigate to the Secureframe Console -> Your Profile -> Company settings -> Audit Log. This page is protected by RBAC and only accessible by certain roles.

    ## Rate Limiting

    Requests are limited to 500 requests per minute per IP address. If the limit is exceeded, requests will be blocked until requests are available based on the aforementioned limit.

    ## Errors

    | HTTP Status Code        | Description                                                                           |
    | ----------------------- | ------------------------------------------------------------------------------------- |
    | 200 - OK                | Request successful                                                                    |
    | 400 - Bad Request       | Invalid request                                                                       |
    | 401 - Unauthorized      | Invalid authentication to make requested response. API key and/or secret are invalid. |
    | 403 - Forbidden         | Invalid authorization to requested resource. Insufficient permissions based on RBAC.  |
    | 429 - Too Many Requests | Rate limit of 500 requests per minute has been reached for the IP address.            |
    | 500                     | Internal server error                                                                 |

    ## Versioning

    Secureframe makes many additive API changes that are _backwards compatible_ and able to be supported in all API versions:

    - Adding operations
    - Adding optional parameters
    - Adding optional request headers
    - Adding response attributes
    - Adding response headers

    Backwards _incompatible_ changes require Secureframe to release a new dated API version, as the can potentially break an integration:

    - Removing operations
    - Removing, renaming, or changing the type of a parameter
    - Adding a required parameter or making a previously optional parameter now required
    - Removing attributes from request responses
    - Adding a required header
    - Introducing new parameter data validation constraints
    - Updating authentication and authorization mechanisms

    | Dated Version (Release Date) | API URL                      | Deprecation Date |
    | :--------------------------- | :--------------------------- | :--------------- |
    | 2023-10-18                   | https://api.secureframe.com/ | -                |

    ## API Changelog

    ### 2023-10-18

    - Released API Dated Version 2023-10-18
    - Initial release.
  version: '2023-10-18'
  x-logo:
    url: https://media.secureframe.com/logo-dark.svg
servers:
- url: https://api.secureframe.com
- url: https://api-uk.secureframe.com
paths:
  "/cloud_resources/{cloud_resource_id}/framework_asset_scopes":
    get:
      tags:
      - Cloud Resource Framework Asset Scope
      operationId: cloudResourcesCompanyFrameworkAssetScopesIndex
      parameters:
      - name: cloud_resource_id
        description: Scope response to cloud_resource_id
        required: true
        in: path
        schema:
          type: string
      - name: include
        description: Comma delimited string of relationships to include.
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - manually_scoped_by
        explode: false
        style: form
      - name: relationships
        description: 'Set to true to return the associated relationships data within
          the response. (default: false)'
        required: false
        in: query
        schema:
          type: boolean
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    data:
                      type: object
                      description: Data envelope for the response
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The identifier for this resource
                        type:
                          type: string
                          description: The type of resource this object is
                        attributes:
                          "$ref": "#/components/schemas/FrameworkAssetScope"
                        relationships:
                          type: object
                          description: Nested objects related to the top level object
                        links:
                          type: object
                          description: Links to related API resources
                    included:
                      type: array
                      items:
                        type: object
                        description: Various objects that have been included via the
                          `include` param
                        properties:
                          id:
                            type: string
                            format: uuid
                            description: The identifier for this resource
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
      description: |-
        Returns a list of Framework Asset Scopes for the Cloud Resource by ID

        The absence of a Framework Asset Scope indicates the asset is not in scope for the Framework.
      summary: List Framework Asset Scopes
      security:
      - header_authorization: &1 []
      x-controller: api/cloud_resources/company_framework_asset_scopes
      x-action: index
    post:
      tags:
      - Cloud Resource Framework Asset Scope
      operationId: cloudResourcesCompanyFrameworkAssetScopesCreate
      parameters:
      - name: active
        description: Flag to indicate if this Framework Asset Scope is active.
        required: false
        in: query
        schema:
          type: boolean
      - name: cloud_resource_id
        description: Scope response to cloud_resource_id
        required: true
        in: path
        schema:
          type: string
      - name: framework_id
        description: The ID of the Framework assigned to this Framework Asset Scope.
        required: false
        in: query
        schema:
          type: string
          format: uuid
      - name: manually_scoped_reason
        description: Reason if this Framework Asset Scope is manually scoped.
        required: false
        in: query
        schema:
          type: string
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    data:
                      type: object
                      description: Data envelope for the response
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The identifier for this resource
                        type:
                          type: string
                          description: The type of resource this object is
                        attributes:
                          "$ref": "#/components/schemas/FrameworkAssetScope"
                        relationships:
                          type: object
                          description: Nested objects related to the top level object
                        links:
                          type: object
                          description: Links to related API resources
                    included:
                      type: array
                      items:
                        type: object
                        description: Various objects that have been included via the
                          `include` param
                        properties:
                          id:
                            type: string
                            format: uuid
                            description: The identifier for this resource
        '404':
          description: Resource not found
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
      description: Create a Framework Asset Scope for the Cloud Resource by ID
      summary: Create Framework Asset Scope
      security:
      - header_authorization: *1
      x-controller: api/cloud_resources/company_framework_asset_scopes
      x-action: create
  "/cloud_resources":
    get:
      tags:
      - Cloud Resource
      operationId: cloudResourcesIndex
      parameters:
      - name: include
        description: 'Comma delimited string of relationships to include. Note: company_vendor_connection
          is deprecated, please use integration_connection instead.'
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - company_vendor_connection
            - integration_connection
            - owner
        explode: false
        style: form
      - name: page
        description: 'Used for pagination of response data (default: page 1). Specifies
          the offset of the next block of data to receive.'
        required: false
        in: query
        schema:
          type: integer
      - name: per_page
        description: 'Used for pagination of response data (default: 100 items per
          response). Specifies the number of results for a given page.'
        required: false
        in: query
        schema:
          type: integer
      - name: q
        description: Search and filter the Cloud Resource data using Lucene syntax.
        required: false
        in: query
        schema:
          type: string
      - name: relationships
        description: 'Set to true to return the associated relationships data within
          the response. (default: false)'
        required: false
        in: query
        schema:
          type: boolean
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    data:
                      type: object
                      description: Data envelope for the response
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The identifier for this resource
                        type:
                          type: string
                          description: The type of resource this object is
                        attributes:
                          "$ref": "#/components/schemas/CloudResource"
                        relationships:
                          type: object
                          description: Nested objects related to the top level object
                        links:
                          type: object
                          description: Links to related API resources
                    included:
                      type: array
                      items:
                        type: object
                        description: Various objects that have been included via the
                          `include` param
                        properties:
                          id:
                            type: string
                            format: uuid
                            description: The identifier for this resource
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
      description: |
        Returns a list of Cloud Resources.
        ### Search parameters

        | Filter | Description |
        | :--    | :--         |
        | `cloud_resource_type` | The type of this Cloud Resource |
        | `created_at` | The date this Cloud Resource was created |
        | `id` | The ID of the Cloud Resource |
        | `in_audit_scope` | Flag to indicate if this Cloud Resource is in scope. [DEPRECATED - Use the Cloud Resource Framework Asset Scope [endpoint](/tag/Cloud-Resource-Framework-Asset-Scope#operation/cloudResourcesCompanyFrameworkAssetScopesIndex)] |
        | `region` | The region this Cloud Resource belongs to |
        | `third_party_id` | The identifier for this Cloud Resource on the vendor side |
        | `updated_at` | The date this Cloud Resource was last updated |
        | `vendor_name` | The name of the vendor that this Cloud Resource is from |
      summary: List Cloud Resources
      security:
      - header_authorization: &2 []
      x-controller: api/cloud_resources
      x-action: index
  "/cloud_resources/{id}":
    get:
      tags:
      - Cloud Resource
      operationId: cloudResourcesShow
      parameters:
      - name: id
        description: Scope response to id
        required: true
        in: path
        schema:
          type: string
      - name: include
        description: 'Comma delimited string of relationships to include. Note: company_vendor_connection
          is deprecated, please use integration_connection instead.'
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - company_vendor_connection
            - integration_connection
            - owner
        explode: false
        style: form
      - name: relationships
        description: 'Set to true to return the associated relationships data within
          the response. (default: false)'
        required: false
        in: query
        schema:
          type: boolean
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Data envelope for the response
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: The identifier for this resource
                      type:
                        type: string
                        description: The type of resource this object is
                      attributes:
                        "$ref": "#/components/schemas/CloudResource"
                      relationships:
                        type: object
                        description: Nested objects related to the top level object
                      links:
                        type: object
                        description: Links to related API resources
                  included:
                    type: array
                    items:
                      type: object
                      description: Various objects that have been included via the
                        `include` param
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The identifier for this resource
        '404':
          description: Resource not found
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
      description: Returns a single Cloud Resource by ID
      summary: Get a Cloud Resource
      security:
      - header_authorization: *2
      x-controller: api/cloud_resources
      x-action: show
    put:
      tags:
      - Cloud Resource
      operationId: cloudResourcesUpdate
      parameters:
      - name: id
        description: Scope response to id
        required: true
        in: path
        schema:
          type: string
      - name: in_audit_scope
        description: Flag to indicate if this Cloud Resource is in scope. [DEPRECATED
          - Use the Cloud Resource Framework Asset Scope [endpoint](/tag/Cloud-Resource-Framework-Asset-Scope#operation/cloudResourcesCompanyFrameworkAssetScopesCreate)]
        required: false
        in: query
        schema:
          type: boolean
      - name: out_of_audit_scope_reason
        description: Out of scope reason if the Cloud Resource is not in scope. [DEPRECATED
          - Use the Cloud Resource Framework Asset Scope [endpoint](/tag/Cloud-Resource-Framework-Asset-Scope#operation/cloudResourcesCompanyFrameworkAssetScopesCreate)]
        required: false
        in: query
        schema:
          type: string
          enum:
          - development_asset
          - staging_asset
          - out_of_scope_production_asset
      - name: owner_id
        description: ID of the User that's the owner of this Cloud Resource.
        required: false
        in: query
        schema:
          type: string
          format: uuid
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Data envelope for the response
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: The identifier for this resource
                      type:
                        type: string
                        description: The type of resource this object is
                      attributes:
                        "$ref": "#/components/schemas/CloudResource"
                      relationships:
                        type: object
                        description: Nested objects related to the top level object
                      links:
                        type: object
                        description: Links to related API resources
                  included:
                    type: array
                    items:
                      type: object
                      description: Various objects that have been included via the
                        `include` param
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The identifier for this resource
        '404':
          description: Resource not found
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
      description: Update a Cloud Resource by ID
      summary: Update a Cloud Resource
      security:
      - header_authorization: *2
      x-controller: api/cloud_resources
      x-action: update
  "/comments":
    get:
      tags:
      - Comment
      operationId: commentsIndex
      parameters:
      - name: include
        description: Comma delimited string of relationships to include.
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - author
        explode: false
        style: form
      - name: page
        description: 'Used for pagination of response data (default: page 1). Specifies
          the offset of the next block of data to receive.'
        required: false
        in: query
        schema:
          type: integer
      - name: per_page
        description: 'Used for pagination of response data (default: 100 items per
          response). Specifies the number of results for a given page.'
        required: false
        in: query
        schema:
          type: integer
      - name: q
        description: Search and filter the Comment data using Lucene syntax.
        required: false
        in: query
        schema:
          type: string
      - name: relationships
        description: 'Set to true to return the associated relationships data within
          the response. (default: false)'
        required: false
        in: query
        schema:
          type: boolean
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    data:
                      type: object
                      description: Data envelope for the response
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The identifier for this resource
                        type:
                          type: string
                          description: The type of resource this object is
                        attributes:
                          "$ref": "#/components/schemas/Comment"
                        relationships:
                          type: object
                          description: Nested objects related to the top level object
                        links:
                          type: object
                          description: Links to related API resources
                    included:
                      type: array
                      items:
                        type: object
                        description: Various objects that have been included via the
                          `include` param
                        properties:
                          id:
                            type: string
                            format: uuid
                            description: The identifier for this resource
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
      description: |
        Returns a list of Comments.
        ### Search parameters

        | Filter | Description |
        | :--    | :--         |
        | `commentable_type` | The type of the commentable object |
        | `commentable_id` | The ID of the commentable object |
        | `company_id` | The ID of the company |
        | `content` | The content of the comment |
        | `id` | The ID of the comment |
      summary: List Comments
      security:
      - header_authorization: &3 []
      x-controller: api/comments
      x-action: index
    post:
      tags:
      - Comment
      operationId: commentsCreate
      parameters:
      - name: commentable_id
        description: The ID of the commentable resource
        required: false
        in: query
        schema:
          type: string
      - name: commentable_type
        description: The type of the commentable resource (e.g., "test", "risk", "vendor")
        required: false
        in: query
        schema:
          type: string
      - name: content
        description: The content of the comment
        required: false
        in: query
        schema:
          type: string
      - name: conversation_id
        description: Optional conversation ID to associate with the comment
        required: false
        in: query
        schema:
          type: string
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Data envelope for the response
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: The identifier for this resource
                      type:
                        type: string
                        description: The type of resource this object is
                      attributes:
                        "$ref": "#/components/schemas/Comment"
                      relationships:
                        type: object
                        description: Nested objects related to the top level object
                      links:
                        type: object
                        description: Links to related API resources
                  included:
                    type: array
                    items:
                      type: object
                      description: Various objects that have been included via the
                        `include` param
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The identifier for this resource
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
      description: Creates a new Comment
      summary: Create a Comment
      security:
      - header_authorization: *3
      x-controller: api/comments
      x-action: create
  "/comments/{id}":
    get:
      tags:
      - Comment
      operationId: commentsShow
      parameters:
      - name: id
        description: Scope response to id
        required: true
        in: path
        schema:
          type: string
      - name: include
        description: Comma delimited string of relationships to include.
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - author
        explode: false
        style: form
      - name: relationships
        description: 'Set to true to return the associated relationships data within
          the response. (default: false)'
        required: false
        in: query
        schema:
          type: boolean
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Data envelope for the response
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: The identifier for this resource
                      type:
                        type: string
                        description: The type of resource this object is
                      attributes:
                        "$ref": "#/components/schemas/Comment"
                      relationships:
                        type: object
                        description: Nested objects related to the top level object
                      links:
                        type: object
                        description: Links to related API resources
                  included:
                    type: array
                    items:
                      type: object
                      description: Various objects that have been included via the
                        `include` param
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The identifier for this resource
        '404':
          description: Resource not found
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
      description: Returns a single Comment by ID
      summary: Get a Comment
      security:
      - header_authorization: *3
      x-controller: api/comments
      x-action: show
    put:
      tags:
      - Comment
      operationId: commentsUpdate
      parameters:
      - name: content
        description: The updated content of the comment
        required: false
        in: query
        schema:
          type: string
      - name: id
        description: Scope response to id
        required: true
        in: path
        schema:
          type: string
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Data envelope for the response
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: The identifier for this resource
                      type:
                        type: string
                        description: The type of resource this object is
                      attributes:
                        "$ref": "#/components/schemas/Comment"
                      relationships:
                        type: object
                        description: Nested objects related to the top level object
                      links:
                        type: object
                        description: Links to related API resources
                  included:
                    type: array
                    items:
                      type: object
                      description: Various objects that have been included via the
                        `include` param
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The identifier for this resource
        '404':
          description: Resource not found
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
      description: Updates a Comment by ID
      summary: Update a Comment
      security:
      - header_authorization: *3
      x-controller: api/comments
      x-action: update
    delete:
      tags:
      - Comment
      operationId: commentsDestroy
      parameters:
      - name: id
        description: Scope response to id
        required: true
        in: path
        schema:
          type: string
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Resource not found
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
      description: Deletes a Comment by ID
      summary: Delete a Comment
      security:
      - header_authorization: *3
      x-controller: api/comments
      x-action: destroy
  "/controls":
    get:
      tags:
      - Control
      operationId: companyControlV2sIndex
      parameters:
      - name: include
        description: Comma delimited string of relationships to include.
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - author
            - owner
        explode: false
        style: form
      - name: page
        description: 'Used for pagination of response data (default: page 1). Specifies
          the offset of the next block of data to receive.'
        required: false
        in: query
        schema:
          type: integer
      - name: per_page
        description: 'Used for pagination of response data (default: 100 items per
          response). Specifies the number of results for a given page.'
        required: false
        in: query
        schema:
          type: integer
      - name: q
        description: Search and filter the control data using Lucene syntax.
        required: false
        in: query
        schema:
          type: string
      - name: relationships
        description: 'Set to true to return the associated relationships data within
          the response. (default: false)'
        required: false
        in: query
        schema:
          type: boolean
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    data:
                      type: object
                      description: Data envelope for the response
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The identifier for this resource
                        type:
                          type: string
                          description: The type of resource this object is
                        attributes:
                          "$ref": "#/components/schemas/Control"
                        relationships:
                          type: object
                          description: Nested objects related to the top level object
                        links:
                          type: object
                          description: Links to related API resources
                    included:
                      type: array
                      items:
                        type: object
                        description: Various objects that have been included via the
                          `include` param
                        properties:
                          id:
                            type: string
                            format: uuid
                            description: The identifier for this resource
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
      description: |
        Returns a list of Controls.
        ### Search parameters

        | Filter | Description |
        | :--    | :--         |
        | `author_name` | The author name of the Control |
        | `description` | The description of the Control |
        | `key` | The key of the Control |
        | `name` | The name of the Control |
        | `frameworks` | The framework keys for this Control |
        | `created_at` | The date when this Control was created |
        | `custom` | True if Control is custom, False if authored by Secureframe |
        | `enabled` | True if the Control is currently enabled |
        | `first_failed_at` | When the Control first failed |
        | `health_status` | The overall health of the Control |
        | `id` | The ID of the Control |
        | `implementation_date` | The implementation date of the Control |
        | `owner_assigned_at` | When the owner was assigned to the Control |
        | `owner_name` | The Control owner's name |
        | `updated_at` | The date the Control was last updated |
      summary: List Controls
      security:
      - header_authorization: &4 []
      x-controller: api/company_control_v2s
      x-action: index
  "/controls/{id}":
    get:
      tags:
      - Control
      operationId: companyControlV2sShow
      parameters:
      - name: id
        description: Scope response to id
        required: true
        in: path
        schema:
          type: string
      - name: include
        description: Comma delimited string of relationships to include.
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - author
            - owner
        explode: false
        style: form
      - name: relationships
        description: 'Set to true to return the associated relationships data within
          the response. (default: false)'
        required: false
        in: query
        schema:
          type: boolean
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Data envelope for the response
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: The identifier for this resource
                      type:
                        type: string
                        description: The type of resource this object is
                      attributes:
                        "$ref": "#/components/schemas/Control"
                      relationships:
                        type: object
                        description: Nested objects related to the top level object
                      links:
                        type: object
                        description: Links to related API resources
                  included:
                    type: array
                    items:
                      type: object
                      description: Various objects that have been included via the
                        `include` param
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The identifier for this resource
        '404':
          description: Resource not found
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
      description: Returns a Control by ID
      summary: Get a Control
      security:
      - header_authorization: *4
      x-controller: api/company_control_v2s
      x-action: show
  "/framework_requirements":
    get:
      tags:
      - Framework Requirement
      operationId: companyFrameworkRequirementsIndex
      parameters:
      - name: include
        description: Comma delimited string of relationships to include.
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - framework
        explode: false
        style: form
      - name: page
        description: 'Used for pagination of response data (default: page 1). Specifies
          the offset of the next block of data to receive.'
        required: false
        in: query
        schema:
          type: integer
      - name: per_page
        description: 'Used for pagination of response data (default: 100 items per
          response). Specifies the number of results for a given page.'
        required: false
        in: query
        schema:
          type: integer
      - name: q
        description: Search and filter the Framework Requirement data using Lucene
          syntax.
        required: false
        in: query
        schema:
          type: string
      - name: relationships
        description: 'Set to true to return the associated relationships data within
          the response. (default: false)'
        required: false
        in: query
        schema:
          type: boolean
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    data:
                      type: object
                      description: Data envelope for the response
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The identifier for this resource
                        type:
                          type: string
                          description: The type of resource this object is
                        attributes:
                          "$ref": "#/components/schemas/FrameworkRequirement"
                        relationships:
                          type: object
                          description: Nested objects related to the top level object
                        links:
                          type: object
                          description: Links to related API resources
                    included:
                      type: array
                      items:
                        type: object
                        description: Various objects that have been included via the
                          `include` param
                        properties:
                          id:
                            type: string
                            format: uuid
                            description: The identifier for this resource
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
      description: |
        Returns a list of Framework Requirements.
        ### Search parameters

        | Filter | Description |
        | :--    | :--         |
        | `enabled` | True if the Framework Requirement is currently enabled |
        | `health_status` | The overall health of the Framework Requirement |
        | `id` | The ID of the Framework Requirement |
        | `key` | The key of the Framework Requirement |
        | `name` | The name of the Framework Requirement |
      summary: List Framework Requirements
      security:
      - header_authorization: &5 []
      x-controller: api/company_framework_requirements
      x-action: index
  "/framework_requirements/{id}":
    get:
      tags:
      - Framework Requirement
      operationId: companyFrameworkRequirementsShow
      parameters:
      - name: id
        description: Scope response to id
        required: true
        in: path
        schema:
          type: string
      - name: include
        description: Comma delimited string of relationships to include.
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - framework
        explode: false
        style: form
      - name: relationships
        description: 'Set to true to return the associated relationships data within
          the response. (default: false)'
        required: false
        in: query
        schema:
          type: boolean
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Data envelope for the response
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: The identifier for this resource
                      type:
                        type: string
                        description: The type of resource this object is
                      attributes:
                        "$ref": "#/components/schemas/FrameworkRequirement"
                      relationships:
                        type: object
                        description: Nested objects related to the top level object
                      links:
                        type: object
                        description: Links to related API resources
                  included:
                    type: array
                    items:
                      type: object
                      description: Various objects that have been included via the
                        `include` param
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The identifier for this resource
        '404':
          description: Resource not found
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
      description: Returns a Framework Requirement by ID
      summary: Get a Framework Requirement
      security:
      - header_authorization: *5
      x-controller: api/company_framework_requirements
      x-action: show
  "/frameworks":
    get:
      tags:
      - Framework
      operationId: companyFrameworksIndex
      parameters:
      - name: page
        description: 'Used for pagination of response data (default: page 1). Specifies
          the offset of the next block of data to receive.'
        required: false
        in: query
        schema:
          type: integer
      - name: per_page
        description: 'Used for pagination of response data (default: 100 items per
          response). Specifies the number of results for a given page.'
        required: false
        in: query
        schema:
          type: integer
      - name: q
        description: Search and filter the Framework data using Lucene syntax.
        required: false
        in: query
        schema:
          type: string
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    data:
                      type: object
                      description: Data envelope for the response
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The identifier for this resource
                        type:
                          type: string
                          description: The type of resource this object is
                        attributes:
                          "$ref": "#/components/schemas/Framework"
                        relationships:
                          type: object
                          description: Nested objects related to the top level object
                        links:
                          type: object
                          description: Links to related API resources
                    included:
                      type: array
                      items:
                        type: object
                        description: Various objects that have been included via the
                          `include` param
                        properties:
                          id:
                            type: string
                            format: uuid
                            description: The identifier for this resource
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
      description: |
        Returns a list of Frameworks.
        ### Search parameters

        | Filter | Description |
        | :--    | :--         |
        | `created_at` | The date when this Framework was created |
        | `id` | The ID of the Framework |
        | `title` | The title of the Framework |
        | `updated_at` | The date the Framework was last updated |
      summary: List Frameworks
      security:
      - header_authorization: &6 []
      x-controller: api/company_frameworks
      x-action: index
  "/frameworks/{id}":
    get:
      tags:
      - Framework
      operationId: companyFrameworksShow
      parameters:
      - name: id
        description: Scope response to id
        required: true
        in: path
        schema:
          type: string
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Data envelope for the response
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: The identifier for this resource
                      type:
                        type: string
                        description: The type of resource this object is
                      attributes:
                        "$ref": "#/components/schemas/Framework"
                      relationships:
                        type: object
                        description: Nested objects related to the top level object
                      links:
                        type: object
                        description: Links to related API resources
                  included:
                    type: array
                    items:
                      type: object
                      description: Various objects that have been included via the
                        `include` param
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The identifier for this resource
        '404':
          description: Resource not found
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
      description: Returns a Framework by ID
      summary: Get a Framework
      security:
      - header_authorization: *6
      x-controller: api/company_frameworks
      x-action: show
  "/risks":
    get:
      tags:
      - Risk
      operationId: companyRisksIndex
      parameters:
      - name: include
        description: Comma delimited string of relationships to include.
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - owner
        explode: false
        style: form
      - name: page
        description: 'Used for pagination of response data (default: page 1). Specifies
          the offset of the next block of data to receive.'
        required: false
        in: query
        schema:
          type: integer
      - name: per_page
        description: 'Used for pagination of response data (default: 100 items per
          response). Specifies the number of results for a given page.'
        required: false
        in: query
        schema:
          type: integer
      - name: q
        description: Search and filter the Risk data using Lucene syntax.
        required: false
        in: query
        schema:
          type: string
      - name: relationships
        description: 'Set to true to return the associated relationships data within
          the response. (default: false)'
        required: false
        in: query
        schema:
          type: boolean
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    data:
                      type: object
                      description: Data envelope for the response
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The identifier for this resource
                        type:
                          type: string
                          description: The type of resource this object is
                        attributes:
                          "$ref": "#/components/schemas/CompanyRisk"
                        relationships:
                          type: object
                          description: Nested objects related to the top level object
                        links:
                          type: object
                          description: Links to related API resources
                    included:
                      type: array
                      items:
                        type: object
                        description: Various objects that have been included via the
                          `include` param
                        properties:
                          id:
                            type: string
                            format: uuid
                            description: The identifier for this resource
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
      description: |
        Returns a list of Risks.
        ### Search parameters

        | Filter | Description |
        | :--    | :--         |
        | `archived` | Flag to indicate if this risk is archived |
        | `id` | The ID of the risk |
        | `custom_risk_id` | The custom risk ID |
        | `owner_name` | The name of the User that is the owner for this risk |
        | `description` | The description of the risk |
      summary: List Risks
      security:
      - header_authorization: &7 []
      x-controller: api/company_risks
      x-action: index
  "/risks/{id}":
    get:
      tags:
      - Risk
      operationId: companyRisksShow
      parameters:
      - name: id
        description: Scope response to id
        required: true
        in: path
        schema:
          type: string
      - name: include
        description: Comma delimited string of relationships to include.
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - owner
        explode: false
        style: form
      - name: relationships
        description: 'Set to true to return the associated relationships data within
          the response. (default: false)'
        required: false
        in: query
        schema:
          type: boolean
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Data envelope for the response
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: The identifier for this resource
                      type:
                        type: string
                        description: The type of resource this object is
                      attributes:
                        "$ref": "#/components/schemas/CompanyRisk"
                      relationships:
                        type: object
                        description: Nested objects related to the top level object
                      links:
                        type: object
                        description: Links to related API resources
                  included:
                    type: array
                    items:
                      type: object
                      description: Various objects that have been included via the
                        `include` param
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The identifier for this resource
        '404':
          description: Resource not found
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
      description: Returns a Risk by ID
      summary: Get a Risk
      security:
      - header_authorization: *7
      x-controller: api/company_risks
      x-action: show
  "/tests/{test_id}/evidences":
    post:
      tags:
      - Test Evidence
      operationId: companyTestsEvidencesCreate
      parameters:
      - name: activity_completion
        description: The date the activity was completed
        required: false
        in: query
        schema:
          type: string
          format: date
      - name: test_id
        description: The ID of the Test to attach the evidence
        required: true
        in: path
        schema:
          type: string
          format: uuid
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Data envelope for the response
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: The identifier for this resource
                      type:
                        type: string
                        description: The type of resource this object is
                      attributes:
                        "$ref": "#/components/schemas/Evidence"
                      relationships:
                        type: object
                        description: Nested objects related to the top level object
                      links:
                        type: object
                        description: Links to related API resources
                  included:
                    type: array
                    items:
                      type: object
                      description: Various objects that have been included via the
                        `include` param
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The identifier for this resource
        '404':
          description: Resource not found
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
      description: Uploads evidence to a Test.
      summary: Create Test Evidence
      security:
      - header_authorization: []
      x-controller: api/company_tests/evidences
      x-action: create
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: File which you want to attach as evidence
                  example: Users/Downloads/some_file.png
              required:
              - file
  "/tests/{test_id}/exports":
    post:
      tags:
      - Test Export
      operationId: companyTestsTestExportsCreate
      parameters:
      - name: framework_id
        description: The ID of the Company's Framework for the export
        required: false
        in: query
        schema:
          type: string
          format: uuid
      - name: is_json
        description: 'If the export should be a JSON file or not (default: false)'
        required: false
        in: query
        schema:
          type: boolean
      - name: test_id
        description: The ID of the test to attach the evidence
        required: true
        in: path
        schema:
          type: string
          format: uuid
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Data envelope for the response
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: The identifier for this resource
                      type:
                        type: string
                        description: The type of resource this object is
                      attributes:
                        "$ref": "#/components/schemas/TestExport"
                      relationships:
                        type: object
                        description: Nested objects related to the top level object
                      links:
                        type: object
                        description: Links to related API resources
                  included:
                    type: array
                    items:
                      type: object
                      description: Various objects that have been included via the
                        `include` param
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The identifier for this resource
        '404':
          description: Resource not found
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
      description: Creates a new Test Export for a Test.
      summary: Create a Test Export
      security:
      - header_authorization: []
      x-controller: api/company_tests/test_exports
      x-action: create
  "/tests":
    get:
      tags:
      - Test
      operationId: companyTestsIndex
      parameters:
      - name: include
        description: Comma delimited string of relationships to include.
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - enabled_field_updated_by
            - owner
            - promoted_by
        explode: false
        style: form
      - name: page
        description: 'Used for pagination of response data (default: page 1). Specifies
          the offset of the next block of data to receive.'
        required: false
        in: query
        schema:
          type: integer
      - name: per_page
        description: 'Used for pagination of response data (default: 100 items per
          response). Specifies the number of results for a given page.'
        required: false
        in: query
        schema:
          type: integer
      - name: q
        description: Search and filter the Test data using Lucene syntax.
        required: false
        in: query
        schema:
          type: string
      - name: relationships
        description: 'Set to true to return the associated relationships data within
          the response. (default: false)'
        required: false
        in: query
        schema:
          type: boolean
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    data:
                      type: object
                      description: Data envelope for the response
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The identifier for this resource
                        type:
                          type: string
                          description: The type of resource this object is
                        attributes:
                          "$ref": "#/components/schemas/Test"
                        relationships:
                          type: object
                          description: Nested objects related to the top level object
                        links:
                          type: object
                          description: Links to related API resources
                    included:
                      type: array
                      items:
                        type: object
                        description: Various objects that have been included via the
                          `include` param
                        properties:
                          id:
                            type: string
                            format: uuid
                            description: The identifier for this resource
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
      description: |
        Returns a list of Tests.
        ### Search parameters

        | Filter | Description |
        | :--    | :--         |
        | `author_name` | The author name of the Test |
        | `created_at` | The date when this Test was created |
        | `custom` | True if the Test is custom (user generated), false if it's Secureframe-authored |
        | `description` | The description of the Test |
        | `enabled` | True if the Test is currently enabled |
        | `enabled_field_updated_by_user` | The name of the user who enabled the Test, null if wasn't enabled by a user |
        | `frameworks` | The framework keys for this Test |
        | `health_status` | The overall health of the Test |
        | `id` | The ID of the Test |
        | `key` | The user-friendly identifier used to reference this Test |
        | `last_evaluated` | The date the Test was last evaluated at |
        | `next_due_date` | The date new Test evidence is needed by if applicable |
        | `owner_assigned_at` | The date the Test owner was assigned |
        | `owner_name` | The Test owner's name |
        | `pass` | True if the Test is passing, false otherwise. [DEPRECATED - Use health_status instead] |
        | `passed_with_upload` | True if the Test passed from the existance of an upload, false otherwise |
        | `promote_at` | The current date set for implementation of the Test |
        | `recommended_action` | Actions for completing the Test |
        | `required_implementation_date` | The pre-configured date the Test must be implemented by |
        | `resource_category` | The category the Test resource belongs to |
        | `status` | The status of the Test. [DEPRECATED - Use health_status instead] |
        | `test_domain` | The domain the Test belongs to |
        | `test_function` | The purpose of the Test |
        | `test_interval_seconds` | The interval in which Test evidence should be collected if applicable |
        | `test_type` | The type of Test |
        | `title` | The title of the Test |
        | `tolerance_window_seconds` | The time between the Test interval elapsing and evidence becoming stale and Test failing if applicable |
        | `updated_at` | The date the Test was last updated |
        | `vendor_name` | The vendor name associated with the Test if applicable |
      summary: List Tests
      security:
      - header_authorization: &8 []
      x-controller: api/company_tests
      x-action: index
  "/tests/{id}":
    get:
      tags:
      - Test
      operationId: companyTestsShow
      parameters:
      - name: id
        description: Scope response to id
        required: true
        in: path
        schema:
          type: string
      - name: include
        description: Comma delimited string of relationships to include.
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - enabled_field_updated_by
            - owner
            - promoted_by
        explode: false
        style: form
      - name: relationships
        description: 'Set to true to return the associated relationships data within
          the response. (default: false)'
        required: false
        in: query
        schema:
          type: boolean
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Data envelope for the response
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: The identifier for this resource
                      type:
                        type: string
                        description: The type of resource this object is
                      attributes:
                        "$ref": "#/components/schemas/Test"
                      relationships:
                        type: object
                        description: Nested objects related to the top level object
                      links:
                        type: object
                        description: Links to related API resources
                  included:
                    type: array
                    items:
                      type: object
                      description: Various objects that have been included via the
                        `include` param
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The identifier for this resource
        '404':
          description: Resource not found
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
      description: Returns a Test by ID
      summary: Get a Test
      security:
      - header_authorization: *8
      x-controller: api/company_tests
      x-action: show
    put:
      tags:
      - Test
      operationId: companyTestsUpdate
      parameters:
      - name: disabled_justification
        description: The justification reason for why this test is disabled.
        required: false
        in: query
        schema:
          type: string
      - name: enabled
        description: true or false for whether this test should be enabled or disabled.
        required: false
        in: query
        schema:
          type: boolean
      - name: id
        description: Scope response to id
        required: true
        in: path
        schema:
          type: string
      - name: next_due_date
        description: Date time in ISO8601 format.
        required: false
        in: query
        schema:
          type: string
          format: date-time
      - name: owner_id
        description: The UUID of a user.
        required: false
        in: query
        schema:
          type: string
          format: uuid
      - name: passed_with_upload_justification
        description: The justification reason for why this test is passed with upload.
        required: false
        in: query
        schema:
          type: string
      - name: promote_at
        description: Date time in ISO8601 format.
        required: false
        in: query
        schema:
          type: string
          format: date-time
      - name: test_interval_seconds
        description: How often the test should be run.
        required: false
        in: query
        schema:
          type: string
          enum:
          - one_day
          - one_week
          - two_weeks
          - one_month
          - three_months
          - six_months
          - one_year
          - none
      - name: tolerance_window_seconds
        description: The tolerance window representation for a test to be at risk.
        required: false
        in: query
        schema:
          type: string
          enum:
          - one_day
          - one_week
          - two_weeks
          - one_month
          - three_months
          - six_months
          - one_year
          - none
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Data envelope for the response
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: The identifier for this resource
                      type:
                        type: string
                        description: The type of resource this object is
                      attributes:
                        "$ref": "#/components/schemas/Test"
                      relationships:
                        type: object
                        description: Nested objects related to the top level object
                      links:
                        type: object
                        description: Links to related API resources
                  included:
                    type: array
                    items:
                      type: object
                      description: Various objects that have been included via the
                        `include` param
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The identifier for this resource
        '404':
          description: Resource not found
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
      description: Update a Test by ID
      summary: Update a Test
      security:
      - header_authorization: *8
      x-controller: api/company_tests
      x-action: update
  "/user_accounts":
    get:
      tags:
      - User Account
      operationId: companyUserVendorsIndex
      parameters:
      - name: include
        description: 'Comma delimited string of relationships to include. Note: company_vendor_connection
          is deprecated, please use integration_connection instead.'
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - company_user
            - company_vendor_connection
            - integration_connection
        explode: false
        style: form
      - name: page
        description: 'Used for pagination of response data (default: page 1). Specifies
          the offset of the next block of data to receive.'
        required: false
        in: query
        schema:
          type: integer
      - name: per_page
        description: 'Used for pagination of response data (default: 100 items per
          response). Specifies the number of results for a given page.'
        required: false
        in: query
        schema:
          type: integer
      - name: q
        description: Search and filter the User Account data using Lucene syntax.
        required: false
        in: query
        schema:
          type: string
      - name: relationships
        description: 'Set to true to return the associated relationships data within
          the response. (default: false)'
        required: false
        in: query
        schema:
          type: boolean
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    data:
                      type: object
                      description: Data envelope for the response
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The identifier for this resource
                        type:
                          type: string
                          description: The type of resource this object is
                        attributes:
                          "$ref": "#/components/schemas/UserAccount"
                        relationships:
                          type: object
                          description: Nested objects related to the top level object
                        links:
                          type: object
                          description: Links to related API resources
                    included:
                      type: array
                      items:
                        type: object
                        description: Various objects that have been included via the
                          `include` param
                        properties:
                          id:
                            type: string
                            format: uuid
                            description: The identifier for this resource
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
      description: |
        Returns a list of User Accounts.
        ### Search parameters

        | Filter | Description |
        | :--    | :--         |
        | `active` | Flag to indicate if this is an active User Account on the vendor side. Defaults to true if the vendor does not support or provide this value. |
        | `created_at` | The date this User Account was created |
        | `email` | The email received from the connection |
        | `first_name` | The first name of the user received from the connection |
        | `has_user` | Flag to indicate if this User Account has a User. False indicates that it's an unlinked account |
        | `id` | The ID of the User Account |
        | `last_name` | The last name of the user received from the connection |
        | `third_party_id` | The identifier for this User Account on the vendor side |
        | `updated_at` | The date this User Account was last updated |
        | `vendor_name` | The name of the vendor that this User Account is from |
      summary: List User Accounts
      security:
      - header_authorization: &9 []
      x-controller: api/company_user_vendors
      x-action: index
  "/user_accounts/{id}":
    get:
      tags:
      - User Account
      operationId: companyUserVendorsShow
      parameters:
      - name: id
        description: Scope response to id
        required: true
        in: path
        schema:
          type: string
      - name: include
        description: 'Comma delimited string of relationships to include. Note: company_vendor_connection
          is deprecated, please use integration_connection instead.'
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - company_user
            - company_vendor_connection
            - integration_connection
        explode: false
        style: form
      - name: relationships
        description: 'Set to true to return the associated relationships data within
          the response. (default: false)'
        required: false
        in: query
        schema:
          type: boolean
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Data envelope for the response
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: The identifier for this resource
                      type:
                        type: string
                        description: The type of resource this object is
                      attributes:
                        "$ref": "#/components/schemas/UserAccount"
                      relationships:
                        type: object
                        description: Nested objects related to the top level object
                      links:
                        type: object
                        description: Links to related API resources
                  included:
                    type: array
                    items:
                      type: object
                      description: Various objects that have been included via the
                        `include` param
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The identifier for this resource
        '404':
          description: Resource not found
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
      description: Returns a single User Account by ID
      summary: Get a User Account
      security:
      - header_authorization: *9
      x-controller: api/company_user_vendors
      x-action: show
  "/user_accounts/{id}/link":
    put:
      tags:
      - User Account
      operationId: companyUserVendorsLink
      parameters:
      - name: id
        description: Scope response to id
        required: true
        in: path
        schema:
          type: string
      - name: user_id
        description: The ID of the user to link to the User Account. If user_id is
          not provided or is an empty string, the User Account will be unlinked.
        required: false
        in: query
        schema:
          type: string
          format: uuid
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Data envelope for the response
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: The identifier for this resource
                      type:
                        type: string
                        description: The type of resource this object is
                      attributes:
                        "$ref": "#/components/schemas/UserAccount"
                      relationships:
                        type: object
                        description: Nested objects related to the top level object
                      links:
                        type: object
                        description: Links to related API resources
                  included:
                    type: array
                    items:
                      type: object
                      description: Various objects that have been included via the
                        `include` param
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The identifier for this resource
        '404':
          description: Resource not found
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
      description: Links a User to a User Account.
      summary: Link a User Account
      security:
      - header_authorization: *9
      x-controller: api/company_user_vendors
      x-action: link
  "/users/{user_id}/evidences":
    post:
      tags:
      - User Evidence
      operationId: companyUsersEvidencesCreate
      parameters:
      - name: activity_completion
        description: The date the activity was completed
        required: false
        in: query
        schema:
          type: string
          format: date
      - name: document_type
        description: The type of evidence being uploaded for this user
        required: true
        in: query
        schema:
          type: string
          enum:
          - background_check_report
          - ccpa_training_screenshot
          - gdpr_training_screenshot
          - handling_cui_training_screenshot
          - hipaa_training_screenshot
          - password_manager_screenshot
          - password_policy_screenshot
          - pci_secure_code_training_screenshot
          - pci_training_screenshot
          - security_training_screenshot
          - security_training_new_hire_screenshot
      - name: user_id
        description: The id of the user to attach the evidence
        required: true
        in: path
        schema:
          type: string
          format: uuid
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Data envelope for the response
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: The identifier for this resource
                      type:
                        type: string
                        description: The type of resource this object is
                      attributes:
                        "$ref": "#/components/schemas/Evidence"
                      relationships:
                        type: object
                        description: Nested objects related to the top level object
                      links:
                        type: object
                        description: Links to related API resources
                  included:
                    type: array
                    items:
                      type: object
                      description: Various objects that have been included via the
                        `include` param
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The identifier for this resource
        '404':
          description: Resource not found
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
      description: Uploads evidence for a User.
      summary: Create User Evidence
      security:
      - header_authorization: []
      x-controller: api/company_users/evidences
      x-action: create
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: File which you want to attach as evidence
                  example: Users/Downloads/some_file.png
              required:
              - file
  "/users":
    get:
      tags:
      - User
      operationId: companyUsersIndex
      parameters:
      - name: include
        description: Comma delimited string of relationships to include.
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - manager
        explode: false
        style: form
      - name: page
        description: 'Used for pagination of response data (default: page 1). Specifies
          the offset of the next block of data to receive.'
        required: false
        in: query
        schema:
          type: integer
      - name: per_page
        description: 'Used for pagination of response data (default: 100 items per
          response). Specifies the number of results for a given page.'
        required: false
        in: query
        schema:
          type: integer
      - name: q
        description: Search and filter the user data using Lucene syntax.
        required: false
        in: query
        schema:
          type: string
      - name: relationships
        description: 'Set to true to return the associated relationships data within
          the response. (default: false)'
        required: false
        in: query
        schema:
          type: boolean
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    data:
                      type: object
                      description: Data envelope for the response
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The identifier for this resource
                        type:
                          type: string
                          description: The type of resource this object is
                        attributes:
                          "$ref": "#/components/schemas/User"
                        relationships:
                          type: object
                          description: Nested objects related to the top level object
                        links:
                          type: object
                          description: Links to related API resources
                    included:
                      type: array
                      items:
                        type: object
                        description: Various objects that have been included via the
                          `include` param
                        properties:
                          id:
                            type: string
                            format: uuid
                            description: The identifier for this resource
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
      description: |
        Returns a list of Users.
        ### Search parameters

        | Filter | Description |
        | :--    | :--         |
        | `active` | Flag to indicate if this User is active |
        | `department_id` | The department_id of the User |
        | `email` | The email of the User |
        | `employee_type` | The employee_type of the User |
        | `end_date` | The end date for the User |
        | `first_name` | The first name of the User |
        | `id` | The ID of the User |
        | `in_audit_scope` | Flag to indicate if the User is in audit scope |
        | `invited` | Flag to indicate if this User has been invited |
        | `invited_at` | The date the User was invited |
        | `last_name` | The last name of the User |
        | `name` | The name of the User |
        | `onboarding_status` | The onboarding status of the User |
        | `personnel_status` | The personnel status of the User |
        | `preferred_first_name` | The preferred first name of the User |
        | `secureframe_agent_acknowledged_at` | The date that the User acknowledged secureframe agent |
        | `start_date` | The start date of the User |
        | `title` | The title of the User |
      summary: List Users
      security:
      - header_authorization: &10 []
      x-controller: api/company_users
      x-action: index
  "/users/{id}":
    get:
      tags:
      - User
      operationId: companyUsersShow
      parameters:
      - name: id
        description: Scope response to id
        required: true
        in: path
        schema:
          type: string
      - name: include
        description: Comma delimited string of relationships to include.
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - manager
        explode: false
        style: form
      - name: relationships
        description: 'Set to true to return the associated relationships data within
          the response. (default: false)'
        required: false
        in: query
        schema:
          type: boolean
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Data envelope for the response
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: The identifier for this resource
                      type:
                        type: string
                        description: The type of resource this object is
                      attributes:
                        "$ref": "#/components/schemas/User"
                      relationships:
                        type: object
                        description: Nested objects related to the top level object
                      links:
                        type: object
                        description: Links to related API resources
                  included:
                    type: array
                    items:
                      type: object
                      description: Various objects that have been included via the
                        `include` param
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The identifier for this resource
        '404':
          description: Resource not found
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
      description: Returns a User by ID
      summary: Get a User
      security:
      - header_authorization: *10
      x-controller: api/company_users
      x-action: show
    put:
      tags:
      - User
      operationId: companyUsersUpdate
      parameters:
      - name: active
        description: True if the user account is active, false if it has been disabled.
        required: false
        in: query
        schema:
          type: boolean
      - name: employee_type
        description: The type of employee.
        required: false
        in: query
        schema:
          type: string
          enum:
          - contractor
          - employee
          - non_employee
          - auditor
          - external
          - workspace
      - name: end_date
        description: Date when the user's employement ended in ISO 8601 format.
        required: false
        in: query
        schema:
          type: string
          format: date-time
      - name: id
        description: Scope response to id
        required: true
        in: path
        schema:
          type: string
      - name: in_audit_scope
        description: True if the user should be audited, false otherwise - only updateable
          in certain cases.
        required: false
        in: query
        schema:
          type: boolean
      - name: start_date
        description: Date when the user's employement started in ISO 8601 format.
        required: false
        in: query
        schema:
          type: string
          format: date-time
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Data envelope for the response
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: The identifier for this resource
                      type:
                        type: string
                        description: The type of resource this object is
                      attributes:
                        "$ref": "#/components/schemas/User"
                      relationships:
                        type: object
                        description: Nested objects related to the top level object
                      links:
                        type: object
                        description: Links to related API resources
                  included:
                    type: array
                    items:
[...]
